## Exercise 1 - Python fundamental

#### 1. Cleaning string data

In [ ]:
rawIntro = ["   i ", "AM ", "    CURRENTLY ", "TEACHING", "ai.   ", "mY", "   CLASS", "IS", "CALLED", "opa21."]

In [18]:
cleanIntro = [word.strip().swapcase() for word in rawIntro]
print (cleanIntro)

['I', 'am', 'currently', 'teaching', 'AI.', 'My', 'class', 'is', 'called', 'OPA24.']

In [11]:
finishedIntro = " ".join(cleanIntro)
print (finishedIntro)

I am currently teaching AI. My class is called OPA24.

In [16]:
completeIntro = finishedIntro.replace("teaching", "studying").replace("opa21", "opa24")
print (completeIntro)

I am currently studying AI. My class is called OPA24.

In [17]:
title = "My introduction".center(50, "-")
print (title)
print (completeIntro)

-----------------My introduction------------------
I am currently studying AI. My class is called OPA24.

# Exercise 2 - Hire It employee data

a

In [32]:
employees = [
    {"employeeId": 0, "name": "alice", "department": "HR", "Salary": 31000},
    {"employeeId": 1, "name": "Bob", "department": "IT", "Salary": 41000},
    {"employeeId": 2, "name": "Charlie", "department": "HR", "Salary": 28000}
]

In [21]:
secondRow = employees[1]
print (secondRow)

{'employeeId': 1, 'name': 'Bob', 'department': 'IT', 'Salary': 41000}

In [26]:


# Loop through each employee and print in the desired format
for emp in employees:
    print(f"{emp['name']} works in department {emp['department']} and earns {emp['salary']}.")

Alice works in department HR and earns 31000.
Bob works in department IT and earns 41000.
Charlie works in department HR and earns 28000.

In [36]:
employees = [
    {"employeeId": 0, "name": "alice", "department": "HR", "salary": 31000},
    {"employeeId": 1, "name": "Bob", "department": "IT", "salary": 41000},
    {"employeeId": 2, "name": "Charlie", "department": "HR", "salary": 28000}
]

totalSalary = sum(emp["salary"] for emp in employees)
numOfEmployyes = len(employees)
avarageSalary = totalSalary / numOfEmployyes
print (avarageSalary)

33333.333333333336

In [42]:
hrEmployees = [emp for emp in employees if emp["department"] == "HR"]
print (hrEmployees)

[{'employeeId': 0, 'name': 'alice', 'department': 'HR', 'salary': 31000}, {'employeeId': 2, 'name': 'Charlie', 'department': 'HR', 'salary': 28000}]

In [41]:
allDepartments = {emp["department"] for emp in employees}
print (allDepartments)

{'IT', 'HR'}